# Backend API URL
VITE_API_URL="http://localhost:5000/api"

# Supabase Client Keys

VITE_SUPABASE_URL="https://ugoukgfejotiiyhwgyzr.supabase.co"
SUPABASE_URL="https://ugoukgfejotiiyhwgyzr.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnb3VrZ2Zlam90aWl5aHdneXpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3NDQzMDQsImV4cCI6MjEwMTMyMDMwNH0.HB3MpasaTCFPhq3rHrEzVwIuMi2J-Br0s0yuYdoK99M"
